/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
} 

* {
  box-sizing: border-box;
}

:root {
  --base-color: #1abc9c;
  --grey-color: #888;
}

a {
  text-decoration: none;
  color: var(--grey-color);
}

a:hover,
a:active {
  text-decoration: underline;
  color: var(--base-color);
  cursor: pointer;
}

img {
  border: 0;
  vertical-align: middle;
}

div {
  display: block;
}

p {
  margin: 0 0 10px;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 15px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
  display: block;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width:1200px){
  .container { 
    width:1170px
  }
}


/* Header */

nav ul {
  list-style: none; /* убираем маркеры */
  margin: 0; /* убираем системые отступы */
  padding: 0;
  display: flex;
  flex-flow: row wrap; /**/
  justify-content: flex-start;
}

nav ul li a {
  display: block;
  padding: 10px 15px 10px 0; 
}

header,
.main-menu,
.mast-brand {
  width: 100%;
  display: block;
}

.mast-brand .container {  
  display: flex;
  align-items: center;
  height: 124px;
  justify-content: space-between;
}

.brand a {
  color: var(--base-color);
}

.brand a:hover,
.brand a:active {
  text-decoration: none;
}

.main-menu {
  text-transform: uppercase;
  font-size: 16px;
  background-color: var(--base-color);
  width: 100%;
}

.nav-item a {
  color: #fff;
  padding: 21px 20px;
}

.nav-item a:hover,
.nav-item a:active {
  text-decoration: none;
  background-color: #222;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-flow: column wrap;
    justify-content: space-around;
  }
  .mast-brand {
    padding-bottom: 30px;
  }
  .mast-brand .container {
    justify-content: center;
    flex-direction: column;
  }
  .main-menu .container {
    padding: 0;
  }
  nav ul {
    justify-content: center;
  }
}