/* Global */

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
} 

html {
  font-size: 16px;
}

:root {
  --base-color: #1abc9c;
  --grey-color: #888;
}

a {
  text-decoration: none;
  color: var(--grey-color);
  transition: .5s all ease;
}

a:hover,
a:active {
  text-decoration: underline;
  color: var(--base-color);
  cursor: pointer;
}

img {
  vertical-align: middle;
}

div {
  display: block;
}

p {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
}


h1,h2,h3,h4,h5,h6 {
  margin: 0 0 .5rem 0;
  line-height: 1.2;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container { 
    max-width: 1170px
  }
}

/* Columns
   ========================================================================== */
/*
 * If need column example width 3 of 12 then create class col-3 max-width 25%  
 */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  border: 1px solid rgba(86,61,124,.2); /* delete */
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-top: .75rem 15px;
  position: relative;
}

/* Header */

nav ul {
  list-style: none; /* убираем маркеры */
  margin: 0; /* убираем системые отступы */
  padding: 0;
  display: flex;
  flex-flow: row wrap; /* если не помещается, то переход на новую строку */
  justify-content: flex-start;
}

header,
.main-menu,
.mast-brand {
  width: 100%;
  display: block;
}

.mast-brand .container {  
  display: flex;
  align-items: center;
  height: 124px;
  justify-content: space-between;
}

.brand a {
  color: var(--base-color);
}

.brand a:hover,
.brand a:active {
  text-decoration: none;
}

.main-menu {
  text-transform: uppercase;
  font-size: 1rem;
  background-color: var(--base-color);
  width: 100%;
}

.nav-item a {
  display: block;
  color: #fff;
  padding: 15px;
}

.nav-item a:hover,
.nav-item a:active {
  text-decoration: none;
  background-color: #222;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-flow: column wrap;
    justify-content: space-around;
  }
  .mast-brand {
    padding-bottom: 1.25rem;
  }
  .mast-brand .container {
    justify-content: center;
    flex-direction: column;
  }
  .main-menu .container {
    padding: 0;
  }
  nav ul {
    justify-content: center;
  }
}