.main-menu {
  width: 100%;
  display: block;
  font-size: 1rem;
  width: 100%;
}
.main-menu_navbar {
  margin-left: -15px; // сброс падинг от ссылок
}
.main-menu_navbar ul {
  list-style: none; // убираем маркеры 
  margin: 0; // убираем системые отступы
  padding: 0;
  display: flex;
  flex-flow: row wrap; // если не помещается, то переход на новую строку
  justify-content: flex-start;
  align-items: center;
}
.main-menu_navbar ul .navbar_nav-item {
  text-align: center;
}
.navbar_nav-item a {
  display: block;
  color: #000;
  border: none;
  padding: 15px;
}
.navbar_nav-item a:hover,
.navbar_nav-item a:active {
  text-decoration: none;
}
@media (max-width: 768px) {
  .main-menu .container {
    padding: 0;
  }
  .main-menu_navbar ul {
    flex-flow: column wrap;
    justify-content: center;
    justify-content: space-around;
  }
}